:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --page-background-color: #000028;
  --nav-and-rec-text-color: #ff0070;
  --header-and-footer-main-title-text-color: #db00ff;
  --background-color-title: #ff0070;
  --background-color-title_rgb: 255, 0, 112;
  --title-text-color: #000028;
  --topic-text-color: #ff0070;
  --text-color-in-paragraph: #f1b2ce;
}

.theme-dark .page .rec {
  display: block;
}
@media (prefers-color-scheme: dark) {
  .rec {
    display: block;
  }
}
