:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --page-background-color: #fff1f7;
  --nav-and-rec-text-color: #353430;
  --header-and-footer-main-title-text-color: #ffc2e6;
  --background-color-title: #ff8dcb;
  --background-color-title_rgb: 53, 52, 48;
  --title-text-color: #353430;
  --topic-text-color: #353430;
  --text-color-in-paragraph: #353430;
}
.theme-light .page .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --page-background-color: #fff1f7;
    --nav-and-rec-text-color: #353430;
    --header-and-footer-main-title-text-color: #ffc2e6;
    --background-color-title: #ff8dcb;
    --background-color-title_rgb: 53, 52, 48;
    --title-text-color: #353430;
    --topic-text-color: #353430;
    --angle-color: #353430;
    --text-color-in-paragraph: #353430;
  }

  .rec {
    display: none;
  }
}
