.page {
  padding: 0 10px;
  font-family: var(--font-family, "IBM Plex mono"), sans-serif;
  font-size: var(--main-font-size, 18px);
  background-color: var(--page-background-color);
  background-image: var(
    --background-image,
    url(../images/cover-image-dark.png)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /*min-inline-size: 375px;*/
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  margin-block-end: 40px; /*40 пикселей вниз, отталкиваем следующий блок*/
  block-size: 100vh;
  /*min-block-size: clamp(668px, 100vh, 1024px);*/
}

/*-----------------НАВИГАЦИЯ-----------------*/

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  display: grid;
  place-items: center;
  width: 70px;
  height: 26px;
  border: none;
  color: var(--nav-and-rec-text-color, #ff0070);
  line-height: var(--nav-line-height, 18px);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--background-color-title_rgb), 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-and-rec-text-color, #ff0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-and-rec-text-color, #ff0070);
}

.header__title-text {
  color: var(--header-and-footer-main-title-text-color, #db00ff);
  font-weight: var(--font-weight_bold, bold);
  font-size: var(
    --h-f-title-font-size,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  line-height: var(--main-title-line-height, 82.5%);
  text-shadow: 4px 4px 0 var(--background-color-title, #ff0070);
}

/*-----ТЕКСТ ПОД ЗАГОЛОВКОМ, НОУ ФОКУС-----*/

.header__paragraf {
  justify-self: end;
}

.header__paragraf-text {
  color: var(--title-text-color, #000028);
  font-weight: var(--font-weight_bold, bold);
  line-height: var(--main-line-height, 23.4px);
  background-color: var(--background-color-title, #ff0070);
}

/*---------УГОЛОКИ И REC---------*/

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  border-inline-start: 1px solid var(--nav-and-rec-text-color, #ff0070);
  border-block-end: 1px solid var(--nav-and-rec-text-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0px;
  border-inline-end: 1px solid var(--nav-and-rec-text-color, #ff0070);
  border-block-start: 1px solid var(--nav-and-rec-text-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
}

.rec {
  position: absolute;
  top: 12px;
  right: 28px;
  display: none;
  color: var(--nav-and-rec-text-color, #ff0070);
  font-size: 18px;
  line-height: var(--rec-line-height, 25px);
  text-transform: uppercase;
}

.rec::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -19px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--nav-and-rec-text-color, #ff0070);
  background-color: var(--nav-and-rec-text-color, #ff0070);
  block-size: 9px;
  aspect-ratio: 1;
}

/*------------------------------------------------------------------------------------------------------*/

.section-text {
  margin-block-end: 50px;
}

.section-text__topic {
  margin-block-end: 20px;
  color: var(--topic-text-color);
  font-weight: var(--font-weight_bold);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height, 23.4px);
}

.section-text__title {
  margin-block-end: 10px;
  color: var(--title-text-color);
  font-weight: var(--font-weight_bold);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height, 23.4px);
  background-color: var(--background-color-title);
}

.section-text__paragraph {
  margin-block-end: 20px;
  color: var(--text-color-in-paragraph);
  line-height: var(--main-line-height, 23.4px);
}

/*---------ССЫЛКА---------*/

.important-word {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--background-color-title);
}

.important-word:hover {
  border-bottom: 1px solid var(--text-color-in-paragraph);
}

.important-word:focus {
  outline: none;
}

.important-word:focus-visible {
  outline: 1px solid var(--text-color-in-paragraph);
}

/*---------СПИСОК---------*/

.section-text__item .section-text__title {
  font-weight: var(--font-weight_normal);
}

.section-text__title:has(+ .section-text__list) {
  margin-block-end: 20px;
} /*Обращаемся к заголовку перед ul*/

/*------------------------------------------------------------------------------------------------------*/

.section-image {
  margin-block-end: 40px;
}

.section-image__topic {
  margin-block-end: 10px;
  color: var(--title-text-color, #000028);
  font-weight: var(--font-weight_bold, bold);
  font-size: var(--main-font-size, 18px);
  line-height: var(--main-line-height, 23.4px);
  background-color: var(--background-color-title, #ff0070);
}

.section-image__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.section-image__list-image {
  object-fit: cover;
  inline-size: 100%;
  max-inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

/*-------------------------------------------------------------------------------------------------------*/

.footer {
  position: relative;
  display: grid;
  align-items: center;
  text-align: center;
  block-size: 100vh;
  /*min-block-size: clamp(668px, 100vh, 1024px);*/
}

.footer__title-text {
  place-self: center;
  color: var(--header-and-footer-main-title-text-color, #db00ff);
  font-weight: var(--font-weight_bold, bold);
  font-size: var(
    --h-f-title-font-size,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  line-height: var(--main-title-line-height, 82.5%);
  text-shadow: 2px 2px 0 var(--background-color-title, #ff0070);
}

/*----------------------------------------------------------------------------------------*/

@media (min-width: 768px) {
  .page {
    padding: 0px 20px;
  }
  .header {
    /*margin-block-start: 10px;*/
    margin-block-end: 60px;
    padding-top: 10px;
  }
  /*.decorated-zone::before {
    bottom: 10px;
  }*/

  .decorated-zone::after {
    top: 20px;
  }

  .rec {
    top: 22px;
  }

  .header__theme-menu {
    padding-top: 10px;
  }

  .header__title-text {
    --h-f-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -10px;
    font-size: var(--h-f-title-font-size);
  }

  .header__paragraf {
    width: 364px;
  }

  .section-text {
    margin-block-end: 80px;
  }

  .section-text:nth-child(odd) {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 20px;
  }

  .section-text:nth-child(1) .section-text__article {
    display: grid;
    gap: 20px;
  }

  .section-text:nth-child(2) .section-text__article {
    display: grid;
    gap: 20px;
  }

  .section-text:nth-child(3) .section-text__article .section-text__list {
    display: grid;
    gap: 20px;
  }

  .section-text__topic {
    width: 236px;
  }

  .section-image {
    margin-block-end: 60px;
  }

  .section-image__topic {
    margin-block-end: 20px;
  }
  .section-text__paragraph {
    margin-block-end: 0px;
  }

  .section-image__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .section-image__list-image:nth-child(1) {
    grid-column: 1/3;
  }

  .section-image__list-image:nth-child(2) {
    grid-column: 3;
    grid-row: -4/-2;
  }

  .section-image__list-image:nth-child(3) {
    grid-column: 1;
    grid-row: 2/4;
  }

  .section-image__list-image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .section-image__list-image:nth-child(5) {
    grid-column: 2/-1;
    grid-row: 3;
  }

  .footer__title-text {
    --h-f-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    font-size: var(--h-f-title-font-size);
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .header__paragraf {
    width: 491px;
  }

  .section-text__topic {
    width: 315px;
  }

  .section-text:nth-child(even) .section-text__article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 2;
    gap: 20px;
  }
}
